.gamers {
  display: grid;
  grid-column: col-start 7 / full-end;
  grid-template-columns: max-content;
  align-content: center;
  justify-content: center;
  grid-row-gap: 5rem;
  background: $color-blue-dark;

  @include respond(tab-port) {
    padding: 3rem;
    grid-column: full-start/full-end;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 3rem 5rem;
    justify-items: center;
  }

  @include respond(phone) {
    grid-template-columns: min-content;
    justify-items: start;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 2rem;
  }

  &__title {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-green-light;
  }

  &__avatar {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }

  &__text {
    align-self: center;
  }

  &__name {
    font-size: 1.9rem;
    font-weight: 700;
  }

  &__score {
    font-weight: 300;
    color: $color-gray;
  }
}