<footer class="footer">
  <a href="#" class="footer__logo">
    <img src="@img/svg/logo.svg" alt="logo" />
  </a>
  <div class="footer__items">
    <ul class="footer__list">
      <li class="footer__item"><a href="#" class="footer__link">АРЕНДА КОНСОЛЕЙ</a></li>
      <li class="footer__item"><a href="#" class="footer__link">КОМАНДНЫЕ СОРЕВНОВАНИЯ</a></li>
      <li class="footer__item"><a href="#" class="footer__link">АРЕНДА СЕРВЕРА</a></li>
      <li class="footer__item"><a href="#" class="footer__link">СООБЩЕСТВО</a></li>
      <li class="footer__item"><a href="#" class="footer__link">РАБОТАЙ И ИГРАЙ</a></li>
    </ul>
  </div>
</footer>
