<header class="header">
  <a href="#" class="header__logo"><img src="@img/svg/logo.svg" alt="logo" /></a>
  <h4 class="header__light-title light-title">ТВОЯ ИГРОВАЯ СТАНЦИЯ</h4>
  <h1 class="main-title">Погрузись в мир современных игр</h1>
  <button class="header__button button">ВЫБРАТЬ ПРИСТАВКУ</button>
  <p class="header__line-text">О нас</p>
  <div class="header__img">
    <img src="@img/game-mania.png" alt="game-mania logo" />
    <img src="@img/steam.png" alt="steam logo" />
    <img src="@img/pc-gamer.png" alt="pc-gamer logo" />
    <img src="@img/pc-games.png" alt="pc-games logo" />
  </div>
</header>
