*, ::after, ::before {
  margin: 0;
  padding: 0;
  block-size: border-box;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 40%;
  }
}